<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>浙江大学广播电视台内培系统——选课页面</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        
    </head>

    <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="#">
        <img alt="Brand" class="col-sm-2 col-xs-3" src="logo2.jpg">
        浙江大学广播电视台内培选课页面
    </a>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="搜索课程">
        </div>
        <button type="submit" class="btn btn-primary">搜索</button>
        
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a>欢迎回来！ </a></li>
        <li><a>NAME</a></li>
        <li><a>职务：</a></li>
        <li><a>职务名</a></li>
        <li><button type="submit" class="btn btn-primary">个人中心</button></li>
        <li><button type="submit" class="btn btn-danger">退出登录</button>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
 
  <div class="container-fluid">
    <div class="col-sm-3 col-xs-5">
    <div class="list-group">
  <a href="#" class="list-group-item active">
    菜单
  </a>
  <a href="#" class="list-group-item">已选课程</a>
  <a href="#" class="list-group-item">可选课程</a>
  <a href="#" class="list-group-item">我的课程</a>
  
    </div>
   </div>
   <div class="col-sm-8 col-xs-7">
   <table class=" table table-striped table-bordered">
   <tr><td style="text-align: center;">课程编号</td>
       <td style="text-align: center;">课程名称</td>
       <td style="text-align: center;">开课地点</td>
       <td style="text-align: center;">主讲人</td>
       <td style="text-align: center;">开课日期</td>
       <td style="text-align: center;">课程开始时间</td>
       <td style="text-align: center;">课程结束时间</td>
       <td></td>
       <td></td>
    </tr>
    <tr><td style="text-align: center;vertical-align: middle">1</td>
        <td style="text-align: center;vertical-align: middle">微积分</td>
        <td style="text-align: center;vertical-align: middle">东教</td>
        <td style="text-align: center;vertical-align: middle">teacher</td>
        <td style="text-align: center;vertical-align: middle">date</td>
        <td style="text-align: center;vertical-align: middle">date</td>
        <td style="text-align: center;vertical-align: middle">date</td>
        <td style="border-right: 0px"><button type="submit" class="btn btn-primary" style="position: relative;left: 20px;">选课</button></td>
        <td style="border-left: 0px;position: relative;left: 20px;"><button type="submit" class="btn btn-danger">退课</button></td>
      </tr>
   </table>
   </div>
    
   </div>
        <script src="js/jquery-1.12.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
    </body>
